<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <title>Code With Teni</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


  <!-- bootstrap icon -->
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  rel="stylesheet"
/>
    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-grad-school.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" />
    <!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

  <body>
    <!--header-->
    <header class="main-header clearfix" role="header">
      <div class="logo">
        <a href="#"
          ><em><i class="bi bi-code-slash"></i></em> CWT</a
        >
      </div>
      <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
      <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
          <li><a href="#section1">Home</a></li>
          <li><a href="#section2">About Us</a></li>
          <li><a href="#section4">Courses</a></li>
          <!-- <li><a href="#section5">Video</a></li> -->
          <li><a href="#section6">Contact</a></li>
        </ul>
      </nav>
    </header>

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
      <!-- <video autoplay muted loop id="bg-video">
        <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video> -->

      <img src="assets/images/teni.JPG" alt="" id="bg-video" />
      <div class="video-overlay header-text">
        <div class="caption">
          <h6 style="text-transform: capitalize">
            Learn skills and build a career in software development with
          </h6>
          <h2 style="margin-top: 0px"><em>Code</em> With Teni</h2>
          <div class="main-button">
            <div class="scroll-to-section">
              <a href="#section3">Join now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="features-post">
              <div class="features-content">
                <div class="content-show">
                  <h4><i class="fa fa-pencil"></i>All Courses</h4>
                </div>
                <div class="content-hide">
                  <p>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>Sass</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Typescript</li>
                    <li>Github</li>
                    <!-- <li>Nodejs</li>
                    <li>Expressjs</li> -->
                  </p>
                  <!-- <p class="hidden-sm">
                    Curabitur id eros vehicula, tincidunt libero eu, lobortis
                    mi. In mollis eros a posuere imperdiet.
                  </p> -->
                  <div class="scroll-to-section">
                    <a href="#section4">Choose course</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="features-post second-features">
              <div class="features-content">
                <div class="content-show">
                  <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>
                </div>
                <div class="content-hide">
                  <p>
                    Our lectures are presented with tech tools that faclitate and enhance
                    teaching and learning, examples slide presentation, zoom
                    whiteboard, PDF, 24/7 guardians and weekly assignment. Also
                    our virtual class is divided into Group teaching(interactive
                    class) and Private teaching.
                  </p>
                  Our lectures are presented with tech tools that faclitate and enhance
                  teaching and learning, examples slide presentation, zoom
                  whiteboard, PDF, 24/7 guardians and weekly assignment. Also
                  our virtual class is divided into Group teaching(interactive
                  class) and Private teaching.
                </p>
                  <div class="scroll-to-section">
                    <a href="#section3">Start class</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="features-post third-features">
              <div class="features-content">
                <div class="content-show">
                  <h4><i class="fa fa-book"></i>Payment</h4>
                </div>
                <div class="content-hide">
                  <p>
                     <ul>Front-end Development: Basic package</ul>
                      <li>Nigerian : <strong><i class="bi bi-naira"></i>20,000</strong></li>
                      <li>Non Nigerian: $50</li>
                      <ul>Front-end Development: Super package</ul>
                      <li>Nigerian student: <strong>30,000</strong></li>
                      <li>Non Nigerian: $80</li>




                  </p>
                  <!-- <p class="hidden-sm">
                    Curabitur id eros vehicula, tincidunt libero eu, lobortis
                    mi. In mollis eros a posuere imperdiet.
                  </p> -->
                  <div class="scroll-to-section">
                    <a href="#section3" target="_blank">Pay now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section why-us" data-section="section2">
      <div class="container">

          <div class="col-md-12">
            <div class="section-heading">
              <h2>Why choose us</h2>
            </div>
          </div>
          <div class="col-md-12 why-us">
          <ul style="color: white;" class="row">
            <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-journal-medical"></i> Structured Curriculum</h6>
            <p>It is designed to accommodate everyone’s needs. Expansion of modern technologies has led to complete transformation of how we access content. Our online classes can be taken up by people maintaining their daily job while pursuing programming</p></li>
            <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-camera-reels"></i>  Recorded Video</h6>
              <p> we have recorded video that you can watch to keep up with the learning structure at your convinenece or leisure time. By pursuing our online coding class, you gain the freedom to manage your time how it suits you, without interrupting your progress. </p></li>

              <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-file-earmark-lock"></i> Private teaching</h6> <p>We are all different and there will never be a unified solution to match everyone’s preferences. This is why  our online class offers various learning styles to allow learners to better adapt to their desired classes. We cater to each cater to each learner's unique preferences and goals</p> </li>

            <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-people-fill"></i> Interactive class</h6> <p>we use this  method  to stimulates two-way communication between learner  and tutor. we involve learners in the educational process by encouraging them to bring their own experience and knowledge into the process, while also contributing to defining or organizing their learning.</p></li> 
            <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-person-bounding-box"></i>  24/7 Guardian</h6><p>We attend to our leaner's question 24/7. we provide guidance, motivation  and support in exploring careers, setting goals, developing contacts, and identifying resources.</p></li>

            <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-book"></i>  Weekly Assignment</h6> <p> we give assignments that have elements that meet up with the learning goals or objectives the Leaner  suppose to achieve. we believe practice make perfection </p></li>
             <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-file-earmark-easel"></i> Slides presentation </h6><p>Lectures are presented with slides including graphical content to aid teaching. PDF are also release at the end of the class</p></li>
             <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-people-fill"></i>  Group teaching</h6><p>ased on teamwork; Leaner achieve their learning objectives together while creating a sense for unity.</p></li>
             <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-arrow-repeat"></i> Consistency</h6> <p>Lectures are delivered in a consistent way  with a higher level of coverage ensuring all learners receive the same amount of knowledge. PDF and videos of each lectures are dropped  at the end of the class. so Learner can catch up</p> </li>
             <li class="col-sm-12 col-md-5 col-lg-5"><h6><i class="bi bi-arrow-down-up"></i>  Flexible learning</h6><p>For people with a non-flexible schedule; allows them to study apart from the group at their own pace</p> </li>
              
          </ul>
            <!-- <div id="tabs">
              <ul>
                <li><a href="#tabs-1">Structured Curriculum</a></li>
                <li><a href="#tabs-2">24/7 Guardians</a></li>
                <li><a href="#tabs-3">Interactive class</a></li>

              </ul>
              <section class="tabs-content">
                <article id="tabs-1">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="assets/images/choose-us-image-01.png" alt="" />
                    </div>
                    <div class="col-md-6">
                      <h4>Structured Curriculum</h4>
                      <p>
                        Grad School is free educational HTML template with
                        Bootstrap 4.5.2 CSS layout. Feel free to use it for
                        educational or commercial purposes. You may want to make
                        <a
                          href=""
                          target="_parent"
                          rel="sponsored"
                          >Register now</a
                        >
                      
                      </p>
                    </div>
                  </div>
                </article>
                <article id="tabs-2">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="assets/images/choose-us-image-02.png" alt="" />
                    </div>
                    <div class="col-md-6">
                      <h4>24/7 Guardians</h4>
                      <p>
                        You can modify this HTML layout by editing contents and
                        adding more pages as you needed. Since this template has
                        options to add dropdown menus, you can put many HTML
                        pages.
                      </p>
                      <p>
                        Suspendisse tincidunt, magna ut finibus rutrum, libero
                        dolor euismod odio, nec interdum quam felis non ante.
                      </p>
                    </div>
                  </div>
                </article>
                <article id="tabs-3">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="assets/images/choose-us-image-03.png" alt="" />
                    </div>
                    <div class="col-md-6">
                      <h4>Interactive class</h4>
                      <p>
                        You are NOT allowed to redistribute this template ZIP
                        file on any template collection website. However, you
                        can use this template to convert into a specific theme
                        for any kind of CMS platform such as WordPress. For more
                        information, you shall
                        <a
                          rel="nofollow"
                          href="https://templatemo.com/contact"
                          target="_parent"
                          >contact TemplateMo</a
                        >
                        now.
                      </p>
                    </div>
                  </div>
                </article>
              </section>
            </div> -->
          </div>
        </div>
      </div>
    </section>



    <section class="section courses" data-section="section4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Courses</h2>
            </div>
          </div>
          <div class="owl-carousel owl-theme">
            <div class="item">
              <img src="assets\images\H1.png" alt="Course #1" />
              <div class="down-content">
                <h4>HTML</h4>
                <p>
                  HTML, or Hypertext Markup Language, is a markup language for the web that defines the structure of web pages. 
                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-01.png" alt="Author 1" />
                </div>
                <div class="text-button-pay">
                  <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\CS1.jpg" alt="Course #2" />
              <div class="down-content">
                <h4>CSS</h4>
                <p>
                 Cascading Style Sheet is a language we use to style HTML document. CSS is the language for describing the presentation of Web pages, including colors, layout, and fonts. 
                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-02.png" alt="Author 2" />
                </div>
                <div class="text-button-free">
                  <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\bo2.png" alt="Course #3" />
              <div class="down-content">
                <h4>BOOTSTRAP</h4>
                <p>
                  Bootstrap is a front-end framework for faster and easier web development. It also gives you the ability to easily create responsive designs
                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-03.png" alt="Author 3" />
                </div>
                <div class="text-button-pay">
                  <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\ja1.png" alt="Course #4" />
              <div class="down-content">
                <h4>JAVASCRIPT</h4>
                <p>
                  JavaScript is the world's most popular programming language. It is used by programmers across the world to create dynamic and interactive web content like applications and browsers.                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-04.png" alt="Author 4" />
                </div>
                <div class="text-button-free">
                  <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\react1.png" alt="" />
              <div class="down-content">
                <h4>REACT JS</h4>
                <p>
React is A JavaScript library developed by Facebook for building user interfaces and web applications quickly and efficiently with significantly less code than you would with vanilla JavaScript.               </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-05.png" alt="" />
                </div>
                <div class="text-button-pay">
                  <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\ty1.png" alt="" />
              <div class="down-content">
                <h4>TYPESCRIPT</h4>
                <p>
                  TypeScript is a strongly typed programming language that builds on JavaScript, It enables developers to add type safety to their projects.                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-01.png" alt="" />
                </div>
                <div class="text-button-free">
                  <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\redux.png" alt="" />
              <div class="down-content">
                <h4>REDUX</h4>
                <p>
                  Redux is a A Predictable State Container for JS Apps. While it's mostly used as a state management tool with React, you can use it with any other JavaScript framework or library                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-02.png" alt="" />
                </div>
                <div class="text-button-free">
                  <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\gu1.jpg" alt="" />
              <div class="down-content">
                <h4>GITHUB</h4>
                <p>
                  GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere. It is used to tracking changes in the source code, enabling multiple developers to work together on non-linear development.                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-03.png" alt="" />
                </div>
                <div class="text-button-pay">
                  <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\ex1.png" alt="" />
              <div class="down-content">
                <h4>EXPRESS JS</h4>
                <p>
                  Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-04.png" alt="" />
                </div>
                <div class="text-button-pay">
                  <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\mo1.png" alt="" />
              <div class="down-content">
                <h4>MONGO DB</h4>
                <p>

                  MongoDB is a document database used to build highly available and scalable internet applications. With its flexible schema approach, it's popular with development teams using agile methodologies.                </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-05.png" alt="" />
                </div>
                <div class="text-button-free">
                  <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
            <div class="item">
              <img src="assets\images\mysql.jpg" alt="" />
              <div class="down-content">
                <h4>MYSQL</h4>
                <p>
                  SQL stands for Structured Query Language. It is a standard language for storing, manipulating and retrieving data in databases. it is the standard language for relational database management systems.                 </p>
                <!-- <div class="author-image">
                  <img src="assets/images/author-01.png" alt="" />
                </div>
                <div class="text-button-pay">
                  <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="packages container">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose a package</h2>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 package">
                <h2>Basic Package</h2>
                <p>Our Basic Package include learning HTML, CSS, BOOTSTRAP, SASS, JAVASCRIPT, GITHUB. The duration is 2 months with structured curriculum, slides presentations and weekily projects. Build attractive, responsive websites and attract lucrative job offers/high paying clients. </p>
             
                <p><em>Nigerian: <b>
                  <svg width="13" height="13" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;">
                  <path d="M4 9H6V3H8L11.42 9H16V3H18V9H20V11H18V13H20V15H18V21H16L12.57 15H8V21H6V15H4V13H6V11H4V9ZM8 9H9.13L8 7.03V9ZM8 11V13H11.42L10.28 11H8ZM16 17V15H14.85L16 17ZM12.56 11L13.71 13H16V11H12.56Z" fill="white"/>
                  </svg>20,000</b>  </em><br> <em>Non nigerian:  <b>$50</b> </em></p>
              
             <div class="btn-container"> 
              <a href="#pay"><button>Pay now</button></a>             </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 package">
              <h2>Super Package</h2>
              <p>Our Super Package include learning HTML, CSS, BOOTSTRAP, SASS, JAVASCRIPT, GITHUB, REACTJS, TYPESCRIPT, REDUX. The duration is 3 months with structured curriculum, slides presentations and weekily projects. Build website with the most demanding frame-work (REACT).</p>
           
              <p><em>Nigerian: <b><svg width="13" height="13" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 2px;">
                <path d="M4 9H6V3H8L11.42 9H16V3H18V9H20V11H18V13H20V15H18V21H16L12.57 15H8V21H6V15H4V13H6V11H4V9ZM8 9H9.13L8 7.03V9ZM8 11V13H11.42L10.28 11H8ZM16 17V15H14.85L16 17ZM12.56 11L13.71 13H16V11H12.56Z" fill="white"/>
                </svg>30,000</b> </em><br> <em>Non nigerian: <b>$80</b>  </em></p>
            
              <div class="btn-container"> 
                <a href="#pay"><button>Pay now</button></a> 
              </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section coming-soon" data-section="section3">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <div class="continer centerIt">
              <div>
                <h4 id="pay">
                <em>Join</em> the best online  software development training
                  class
                </h4>
                <div class="" style="color: #fff;"><em style="color: #ffffff;">kindly note:</em>
                <P>For Nigerians, Payment should be made to account below and proof of payment should be sent to <i class="fa fa-whatsapp"></i> +2348114618720 or <i class="bi bi-envelope"></i> codewithteni@gmail.com. </p>
        

                  <div class="account-number">                <i class="bi bi-credit-card-2-front-fill"></i>       
                  
                <h6 ><span>2176061636 </span><span> Yakub Ganiyat</span><span> UBA</span></h6></div>
              </div>
              <div class="" style="margin-top: 20px; color: #fff;"><em style="color: #ffffff;">kindly note:</em>
                <P>For Non nigerians, Payment should be made to account below and proof of payment should be sent to  <i class="fa fa-whatsapp"></i> +2348114618720 or <i class="bi bi-envelope"></i> codewithteni@gmail.com. </p>
        

                  <div class="account-number">                <i class="bi bi-credit-card-2-front-fill"></i>       
                  
                <h6 ><span>2176061636 </span><span> Yakub Ganiyat</span><span> UBA</span></h6></div>
              </div>
                <!-- <div class="counter">
                  <div class="days">
                    <div class="value">00</div>
                    <span>Days</span>
                  </div>

                  <div class="hours">
                    <div class="value">00</div>
                    <span>Hours</span>
                  </div>

                  <div class="minutes">
                    <div class="value">00</div>
                    <span>Minutes</span>
                  </div>

                  <div class="seconds">
                    <div class="value">00</div>
                    <span>Seconds</span>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="right-content">
              <div class="top-content">
                <h6>
                  <em>Join </em> us today!
                </h6>
              </div>
              <form id="contact" action="http://localhost:4000/" method="post">
                <div class="row">
                  <div class="col-md-12">
                    <fieldset>
                      <input
                        name="fullName"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="Your Full Name"
                        required
                      />
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <input
                        name="email"
                        type="text"
                        class="form-control"
                        id="email"
                        placeholder="Your Email"
                        required
                      />
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <input
                        name="phoneNumber"
                        type="text"
                        class="form-control"
                        id="phone-number"
                        placeholder="Your Phone Number"
                        required=""
                      />
                      
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <select name="package" id="package"   required>
                        <option value="" default>Select package</option>
                        <option value="basic">Basic</option>
                        <option value="super">Super</option>

                      </select>
                      
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <textarea   
                       name="message"
                      class="form-control"
                      cols="30" rows="10"          
                                 id="message"
                      placeholder="Your message"
                      required=""></textarea>
                     
                    
                    </fieldset>
                  </div>

                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">
                       Join Class
                      </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
<script> 
     console.log("we are here")
</script>

    <!-- <section class="section video" data-section="section5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <div class="left-content">
              <span>our presentation is for you</span>
              <h4>Watch the video to learn more <em>about Grad School</em></h4>
              <p>
                You are NOT allowed to redistribute this template ZIP file on
                any template collection website. However, you can use this
                template to convert into a specific theme for any kind of CMS
                platform such as WordPress. You may
                <a
                  rel="nofollow"
                  href="https://templatemo.com/contact"
                  target="_parent"
                  >contact TemplateMo</a
                >
                for details. <br /><br />Suspendisse tincidunt, magna ut finibus
                rutrum, libero dolor euismod odio, nec interdum quam felis non
                ante.
              </p>
              <div class="main-button">
                <a
                  rel="nofollow"
                  href="https://fb.com/templatemo"
                  target="_parent"
                  >External URL</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <article class="video-item">
              <div class="video-caption">
                <h4>Power HTML Template</h4>
              </div>
              <figure>
                <a
                  href="https://www.youtube.com/watch?v=r9LtOG6pNUw"
                  class="play"
                  ><img src="assets/images/main-thumb.png"
                /></a>
              </figure>
            </article>
          </div>
        </div>
      </div>
    </section> -->

    <section class="section contact" data-section="section6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Let’s Keep In Touch</h2>
            </div>
          </div>
          <div style="color: white; text-align: center; width: 100%;">
            <div> <h5> <i class="bi bi-telephone"></i> +2348114618720</h5></div>
            <div> <h5> <i class="bi bi-envelope"></i>  codewithteni@gmail.com</h5></div>
            </div>

          <div class="col-md-12" style="color: white;">
            <ul class="list-inline mb-5" style="text-align: center;"> 
              <li class="list-inline-item" >
                <a
                  class="social-link rounded-circle text-white mr-3"
                  href="https://www.linkedin.com/in/ganiyat-yakub-794482211"
                  ><i class="bi bi-linkedin" style="font-size: 50px !important; "></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-link rounded-circle text-white mr-3"
                  href="https://github.com/tech-teni"
                   ><i class="bi bi-github" style="font-size: 50px !important; "></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-link rounded-circle text-white"
                  href="http://instagram.com/code_with_teni"
                  ><i class="bi bi-instagram" style="font-size: 50px !important; "></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  class="social-link rounded-circle text-white"
                  href="https://wa.me/2348114618720"
                  ><i class="bi bi-whatsapp" style="font-size: 50px !important; "></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>
    <a href="https://wa.me/2348114618720
    " target="_blank">
            <div class="whatsapp-me">
              <i class="fa fa-whatsapp"></i>
            </div>
          </a>
    <style>
      .whatsapp-me {
    width: 70px;
    height: 70px;
    font-size: 60px;
    background-color: #7fbb58;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
}

.account-number{
  display: flex;
  align-items: center;
  background-color: #181c297e;
  padding: 5px 10px;
  border-radius: 10px;

}

.account-number i{
color:#ffffff;
margin-right: 15px;
font-size: 70px;
margin-left: 20px;
}
.account-number h6{
font-size: 18px;
font-weight: bolder;
display: flex;
flex-direction: column;


}

.why-us li h6{
  font-size: 1.1rem;
  text-transform: uppercase;

}
.why-us li h6 i{
  color: #f5a425;
  font-weight: bolder;
  font-size: 30px;

}
.why-us p{
font-size: 1.2rem;
}
.why-us li {
margin-bottom: 10px;
/* border: 1px solid white; */
margin-left: 5px;
padding: 10px 10px;
}
.why-us ul {
display: flex;
justify-content: center;
}
.item img{
height: 150px;
}

.item .down-content{
height: 250px;}


.package{
  background-color: #0c1228;
  width: 100%;
  color: #fff;
  margin-left: 1%;
  padding: 3% 5%;
  margin-bottom: 10px;
  
}

.package h2{
text-align: center;
}
 
.package ul{
display: flex;
justify-content: center;
align-items: center;

}

.package li{
margin-right: 7px;

}
.package p{
margin-bottom: 10px;
/* display: flex;
justify-content: center; */
}

.btn-container{
 display: flex;
 justify-content: center;
}
.package button{
border: none;
background-color: #f5a425;
color: #fff;
padding: 5px 10px;
text-align: center;
margin: auto;
}



    
    
    </style>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              <i class="fa fa-copyright"></i> Copyright 2022 by Code With Teni
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".nav li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos,
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function () {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu, .scroll-to-section").on("click", "a", function (e) {
        if ($(e.target).hasClass("external")) {
          return;
        }
        e.preventDefault();
        $("#menu").removeClass("active");
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
    </script>
  </body>
</html>
